extends ../layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="Privacy policy")
  meta(name="keywords" content="")
  meta(name="robots" content="")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content=proj_url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=title + ' | ' + proj_name)
  meta(name="og:site_name" content="PWI - Programmazione Web Italia")
  meta(name="og:description" content="Privacy policy")
  meta(name="og:image" content=proj_url + "/assets/images/logo.png")

block main
  section(class="content")
    h1 #{title}
    h2 Informazioni generali
    p Informativa resa, ai sensi del Regolamento UE 679/2016, di seguito chiamato "GDPR", degli artt. 13 e 122 del Codice in materia di protezione dei dati personali (D.Lgs. 196/03) e del Provvedimento generale del Garante dell'8 maggio 2014 in materia di cookie, agli utenti che si collegano al sito www.tradingradar.net, di seguito chiamato "sito".
    h2 Cosa sono i Cookie
    p I cookie sono semplici informazioni che vengono trasferite dal sito web e salvate sull'hard disk del computer dell'utente e sono piccoli file di testo che consentono ai siti web di memorizzare alcuni dati per renderli accessibili ad un successivo accesso dell'utente.
    p Basandosi sulla provenienza i cookie si dividono in due categorie:
    ul 
      li i cookie proprietari, che sono creati, cancellati e modificati direttamente dal sito visitato.
      li i cookie di terze parti, che vengono creati da altri siti proprietari dei contenuti, ad esempio annunci, immagini, bottoni social o altri servizi, visualizzati nella pagina web del sito che stai visitando.
    p Basandosi sulla loro durata invece, i cookie possono essere classificati come segue:
    ul 
      li i cookie temporanei (ad esempio i cookie di sessione) che si cancellano automaticamente alla chiusura del browser.
      li i cookie permanenti che restano disponibili finché non vengono cancellati espressamente dall'utente o fino alla loro naturale scadenza, stabilita dal sito stesso.
    p La maggior parte dei siti utilizza i cookie perché rientrano tra gli strumenti tecnici di uso comune sul web in grado di migliorare la navigazione e la user experience permettendo inoltre di offrire servizi personalizzati (ad esempio, evitare di richiedere ogni volta le credenziali di accesso, ricordare l'ultima applicazione utilizzata, conservare i prodotti nel carrello, mostrare contenuti importanti per l'utente, ricordare che un messaggio è già stato visualizzato ecc.).
    p Questi sono detti anche "cookie tecnici" e non rientrano nell'ambito del trattamento dei dati disciplinato dal GDPR poiché non contengono dati personali, né identificativi associati a dati personali o altre informazioni che consentono di identificare l'utente, ed il loro utilizzo è strettamente funzionale all'erogazione dei servizi da parte del sito.
    p Anche le aziende pubblicitarie possono utilizzare i cookie tecnici, ad esempio per limitare il numero di volte in cui visualizzare un determinato annuncio, o stabilire la frequenza di visualizzazione dei messaggi pubblicitari (rotazione dei banner).
    p In ogni caso, i cookie possono essere letti o modificati solo dal sito che li ha creati e non possono essere utilizzati per accedere a nessun altro dato dell'utente tramite il browser né possono trasmettere virus informatici in quanto non sono programmi software, ma semplici informazioni di testo che non possono assolutamente arrecare danno al computer.
    p La maggior parte dei browser accetta i cookie automaticamente e tuttavia l'utente può disattivare i cookie direttamente dal proprio browser.
    p E' bene sapere tuttavia che, in base al livello qualitativo dei servizi offerti dal sito, la disattivazione dei cookie può comportare per l'utente l'impossibilità di utilizzare tutte o alcune delle funzionalità online e in taluni casi l'accesso al sito stesso.
    h2 I cookie del nostro sito
    p Come la maggior parte dei siti web anche il nostro sito utilizza i cookie per migliorare l'esperienza utente, per rendere più semplice l'utilizzo delle nostre applicazioni e per fornire funzionalità avanzate che non sarebbero possibili senza l'utilizzo dei cookie. Il nostro sito utilizza cookie proprietari e cookie di terze parti. Per quanto riguarda i cookie proprietari utilizziamo esclusivamente "cookie tecnici" sia temporanei che permanenti.
    h2 I Cookie di terze parti
    p Il sito consente la trasmissione di cookie di terze parti (social media e monitoraggio statistico), limitandosi in questo caso al semplice invio dei cookie sul terminale dell'utente, senza gestirne l'operatività e i contenuti, che rimangono quindi a totale carico delle terze parti. Il nostro sito utilizza esclusivamente i cookie "nativi" dei vari browser (informazioni di tipo testo) e non si avvale dei cosiddetti "Flash Cookie" (una diversa tipologia di cookie cross-browser) ma alcuni siti di terze parti potrebbero utilizzare questa tecnologia che richiede la presenza del plugin Adobe-Flash nel browser. Si precisa che il plugin Adobe-Flash è divenuto obsoleto e non più supportato a partire dal 2021 in quanto l’azienda produttrice del software lo ha ritirato dal mercato, trattandosi di tecnologia ormai superata, e pertanto tale tipologia di cookie è destinata a scomparire nel breve periodo. Social Media Per quanto riguarda i social media utilizziamo i servizi di condivisione di Facebook, Twitter e Linkedin. Statistiche Per il monitoraggio degli accessi al sito e le statistiche di navigazione utilizziamo Google Analytics, di seguito "GA". Il codice di monitoraggio GA fa uso di cookie tecnici per consentirci di analizzare, in forma anonima e aggregata, il traffico degli utenti sul nostro sito (pagine più visitate, nuovi utenti, utenti di ritorno, tipologie di browser e dispositivi, velocità di caricamento e visualizzazione delle pagine ecc.). Tieni presente che tale rilevazione statistica degli accessi al nostro sito, così come avviene per gli interessi dell’utente ai fini pubblicitari, è completamente anonima e non comporta alcuna violazione della privacy ma ci consente semplicemente di controllare il traffico complessivo sulle pagine del nostro sito al fine di verificare eventuali problematiche dovute ad eventuali malfunzionamenti o diminuzioni del posizionamento nei principali motori di ricerca.
    h2 Disattivazione Cookie
    p I cookie possono essere disattivati utilizzando le impostazioni del browser. Come detto, la disattivazione dei cookie comporta, per motivi tecnici, la limitazione o l'impossibilità di accedere a tutte le funzionalità del sito, oppure l'impossibilità per le aziende pubblicitarie di mostrarti annunci personalizzati che potrebbero risultare di tuo interesse. Ad esempio, disattivare dal browser i cookie di sessione comporta l'impossibilità di collegarsi al sito e di entrare nell'area riservata, e impedisce il funzionamento di alcune applicazioni basate interamente sulle sessioni. Talvolta i browser danno la possibilità di disattivare tutti i cookie tranne quelli di sessione, ma anche in questo caso non saranno disponibili varie funzionalità del sito, tra cui, ad esempio, la funzione "ricorda" che ti permette di entrare senza digitare ogni volta utente e password. La disattivazione dei cookie impedisce inoltre di mostrarti una sola volta eventuali messaggi di servizio, oppure di sapere se sei un nuovo utente o un utente che ha già visitato il nostro sito.