//- h1 #{title}
//- h2 #{__('Hello')}
//- p #{__('HelloName', { name: 'Marco' })}

section(class="head")
  div(class="intro")
    div(class="title")
      h1 Fai decollare la tua #[em SEO]
      h2 Migliora la tua visibilità #[br]aumentando il ranking SEO #[br]del tuo sito o portale Web
      a(class="btn primary", id="cta") &#11167; Contattaci ora
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/web-seo/rocket.png")
        source(media="(max-width: 768px)", srcset="/assets/images/landing/web-seo/rocket.png")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/web-seo/rocket.png")
        img(fetchpriority="high" width="1069" height="1024" src="/assets/images/landing/web-seo/rocket.png", alt=title, id="rocket")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/web-seo/rocket.png")
        source(media="(max-width: 768px)", srcset="/assets/images/landing/web-seo/rocket.png")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/web-seo/rocket.png")
        img(fetchpriority="high" width="1069" height="1024" src="/assets/images/landing/web-seo/serp.png", alt=title, id="serp")
    div(class="steps")
      div 
        span Step #[span 1]
        h3 Ottimizzazione dei #[em Core Web Vitals]
      div 
        span Step #[span 2]
        h3 Miglioramento della #[em Esperienza Utente]
      div 
        span Step #[span 3]
        h3 Aumento della #[em Sicurezza Web]

section(class="features")
  ul
    li
      h2 Keyword research
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim, dolor eu eleifend hendrerit, lacus quam commodo massa, a luctus purus lectus sed sem. Nam sed leo blandit dolor suscipit interdum vehicula ac neque. Phasellus auctor vulputate congue. Vivamus sagittis vitae dolor sit amet consequat.
    li 
      h2 Ottimizzazione testi
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim, dolor eu eleifend hendrerit, lacus quam commodo massa, a luctus purus lectus sed sem. Nam sed leo blandit dolor suscipit interdum vehicula ac neque. Phasellus auctor vulputate congue. Vivamus sagittis vitae dolor sit amet consequat.
    li 
      h2 Miglioramento delle performance
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim, dolor eu eleifend hendrerit, lacus quam commodo massa, a luctus purus lectus sed sem. Nam sed leo blandit dolor suscipit interdum vehicula ac neque. Phasellus auctor vulputate congue. Vivamus sagittis vitae dolor sit amet consequat.
    li 
      h2 Analisi dei risultati
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim, dolor eu eleifend hendrerit, lacus quam commodo massa, a luctus purus lectus sed sem. Nam sed leo blandit dolor suscipit interdum vehicula ac neque. Phasellus auctor vulputate congue. Vivamus sagittis vitae dolor sit amet consequat.

section(class="cta")
  h2 Contattaci #[em oggi] per ottenere una #[em analisi gratuita] delle tue performance SEO 
  div
    div Telefona o invia un Whatsapp al numero:
      a(href="tel:info@progweb.it") 329 5698985
    div Invia una email all'indirizzo: 
      a(href="mailto:info@progweb.it") info@progweb.it

section(class="near")
  h2 Vicini a te
  p La tua attivitò è situata in provincia di #[em Udine] o in #[em Friuli]? #[br] Hai un vantaggio in più: #[em siamo vicini!]

section(class="more")
  h4 Maggiori informazioni sulla Search Engine Optimization
  h2 Cos'è la SEO (Search Engine Optimization)?
  p La SEO (Search Engine Optimization), in italiano "Ottimizzazione per i motori di ricerca", è l'insieme delle tecniche e strategie utilizzate per migliorare la visibilità e il posizionamento di un sito web nei risultati organici (non a pagamento) dei motori di ricerca, come Google, Bing, o Yahoo.

  h2 Quali sono gli obiettivi della SEO?
  p Migliorare la posizione nei risultati di ricerca: Più un sito è alto nei risultati di ricerca, maggiore è la probabilità che gli utenti lo visitino. Aumentare il traffico qualificato: Attraverso la SEO, si mira ad attrarre utenti interessati ai contenuti, prodotti o servizi offerti dal sito. Migliorare l'esperienza utente: La SEO include l'ottimizzazione tecnica del sito, rendendolo più veloce, mobile-friendly e facile da navigare.

  h2 Quali sono i benefici della SEO?
  p Miglioramento della visibilità: Un sito ben ottimizzato apparirà tra i primi risultati quando gli utenti cercano informazioni correlate. Crescita sostenibile del traffico: A differenza della pubblicità a pagamento, la SEO genera traffico organico che può durare nel tempo. Maggiore credibilità e fiducia: Gli utenti tendono a fidarsi di più dei risultati organici rispetto agli annunci a pagamento.

  h2 Linee guida SEO 2025
  ul 
    li Ensure Google Can Find and Index Your Site
    li Target Relevant Primary Keywords
    li Organize Your Site’s Structure
    li Create Useful Content
    li Help Search Engines and Users Understand Your Content
    li Make Sure Your Site Provides a Good User Experience
    li Leverage Internal and External Linking
    li Earn Backlinks to Your Website
    li Optimize Your Images and Videos
    li Promote Your Content
