section(class="head")
  div(class="intro")
    div(class="title")
      h1 !{__('webseo.title')}
      h2 !{__('webseo.subtitle')}
      a(class="btn primary", id="cta") &#10173; #{__('webseo.cta')}
      picture 
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/web-seo/rocket-350.png")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/web-seo/rocket-400.png")
        img(fetchpriority="high" width="500" height="479" src="/assets/images/landing/web-seo/rocket-500.png", alt=__('webseo.img-rocket'), id="rocket")
    div(class="steps")
      div 
        span Step #[span 1]
        h3 !{__('webseo.step1')}
      div 
        span Step #[span 2]
        h3 !{__('webseo.step2')}
      div 
        span Step #[span 3]
        h3 !{__('webseo.step3')}

section(class="features")
  ul
    li
      h2 #{__('webseo.fea-title-1')}
      p !{__('webseo.fea-text-1')}
    li 
      h2 #{__('webseo.fea-title-2')}
      p !{__('webseo.fea-text-2')}
    li 
      h2 #{__('webseo.fea-title-3')}
      p !{__('webseo.fea-text-3')}
    li 
      h2 #{__('webseo.fea-title-4')}
      p !{__('webseo.fea-text-4')}

section(class="cta")
  h2 !{__('webseo.cta-title')}
  div
    div #{__('webseo.cta-phone')}
      a(href="tel:+393295698985", title=__('webseo.cta-2')) (+39) 329 5698985
    div #{__('webseo.cta-email')} 
      a(href="mailto:info@progweb.it?subject=Need more info about Web SEO Optimization&bcc=marcopavan.mp@gmail.com", title=__('webseo.cta-3')) info@progweb.it

section(class="near")
  h2 #{__('webseo.near-title')}
  p !{__('webseo.near-text')}

section(class="more")
  h3 #{__('webseo.more-main-title')}
  h4 #{__('webseo.more-main-subtitle')}
  
  picture 
    source(media="(max-width: 414px)", srcset="/assets/images/landing/web-seo/serp-414.webp")
    source(media="(max-width: 768px)", srcset="/assets/images/landing/web-seo/serp-768.webp")
    source(media="(max-width: 1024px)", srcset="/assets/images/landing/web-seo/serp-1024.webp")
    img(fetchpriority="high" width="695" height="414" src="/assets/images/landing/web-seo/serp-1024.webp", alt=__('webseo.img-serp'), id="serp")
    <figcaption>!{__('webseo.img-serp-caption')}</figcaption>
  
  h2 #{__('webseo.more-title-1')}
  p !{__('webseo.more-text-1')}

  h2 #{__('webseo.more-title-2')}
  p !{__('webseo.more-text-2')}

  h2 #{__('webseo.more-title-3')}
  p !{__('webseo.more-text-3')}

  h2 #{__('webseo.more-title-4')}
  p !{__('webseo.more-text-4')}
