extends ../../layout-landing.pug

block append meta

  title #{title} | #{proj_name}
  meta(name="description" content=description)

  if lang==='it'
    meta(name="keywords" content="web, seo, migliorare, visibilità, keyword, ottimizzazione, performance, analisi, parole, chiave, serp, linee, guida, traffico, ranking, strategia, udine, friuli, 2025")
    link(rel="canonical", href=proj_url + '/web-seo')
  else 
    meta(name="keywords" content="web, seo, improve, visibility, keyword, optimization, performance, analisys, serp, guidelines, traffic, ranking, strategy, 2025")
    link(rel="canonical", href=proj_url + '/web-seo/en')

  meta(name="og:url" content=proj_url + url)
  meta(name="og:site_name" content="PWI - Programmazione Web Italia")
  meta(name="og:type" content="article")
  meta(name="og:title" content=title)
  meta(name="og:image" content=proj_url + "/assets/images/landing/web-seo/web-seo-og-image-" + lang + ".webp")
  meta(name="og:description" content=description)

  link(rel="alternate", href="https://www.progweb.it/web-seo/it", hreflang="it")
  link(rel="alternate", href="https://www.progweb.it/web-seo/en", hreflang="en")
  link(rel="alternate", href="https://www.progweb.it/web-seo", hreflang="x-default")

  link(rel="stylesheet", type="text/css", href="/views/landing/web-seo/web-seo.css")

block main
  main
    include ./article.pug

block viewscripts 
  script(defer, src='/views/landing/web-seo/web-seo.js')
  script(type='application/ld+json').
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "datePublished": "2024-09-01",
      "dateModified": "2024-09-01",
      "url": "#{proj_url + url}",
      "name": "#{title}",
      "headline": "#{title}",
      "description": "#{description}",
      "image": "#{proj_url + '/assets/images/landing/web-seo/web-seo-og-image-' + lang +'.webp'}",
      "author": {
        "@type": "Person",
        "name": "#{owner}"
      },
      "copyrightHolder": {
        "@type": "Person",
        "name": "#{owner}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "#{proj_name}",
        "url": "#{proj_url}",
        "logo": "#{logo}"
      }
    }