extends layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="PWI - Programmazione Web Italia")
  meta(name="keywords" content="html, css, javascript, programmazione, web, italia")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content=proj_url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=title + ' | ' + proj_name)
  meta(name="og:site_name" content="PWI - Programmazione Web Italia")
  meta(name="og:description" content="Spunti di programmazione Web per utenti italiani")
  meta(name="og:image" content=proj_url + "/assets/images/logo.png")

block main
  section(class="content")
    h2 Di recente ho scritto...
    div(class="post")
      div(class="badge html") HTML
      h3
        a(href="/html-attributo-ping", title="L'attributo 'ping' del tag <a> in HTML5") L'attributo 'ping' del tag &lt;a&gt; in HTML5
      a(href="/html-attributo-ping", title="L'attributo 'ping' del tag <a> in HTML5") 
        img(src="/assets/images/post/post-html-ping-attribute-cover-min.png", alt="L'attributo 'ping' del tag <a> in HTML5")
      p Fin dalla sua pubblicazione HTML5 ha introdotto alcuni attributi che, seppur interessanti, non sono mai stati usati o compresi fino in fondo, l'attributo 'ping' è secondo me uno di questi.
      h3 Cos'è l'attributo "ping"?
      p L'attributo "ping", introdotto in HTML5, è un attributo poco utilizzato del tag &lt;a&gt;. Molto semplicemente, serve a specificare una serie di URL che verranno richiamati automaticamente quando un link viene seguito dall'utente (al "click", per intenderci). Questo attributo può essere utile in diverse situazioni, in particolare per scopi di monitoraggio e analisi. #[a(href="/html-attributo-ping", title="L'attributo 'ping' del tag <a> in HTML5") Continua...]
      div(class="published") Pubblicato il <time datetime="2023-09-07">7 Settembre 2023</time>

    div(class="post")
      div(class="badge js") JavaScript
      h3
        a(href="/javascript-closure", title="Le Closure in JavaScript") Le Closure in JavaScript
      a(href="/javascript-closure", title="Le Closure in JavaScript") 
          img(src="/assets/images/post/post-js-closure-cover-min.png", alt="Le Closure in JavaScript")
      p Tutte le volte che ho dovuto affrontare il discorso CLOSURE in JS finivo per avere una impressione riassumibile nella frase: "Tutto molto bello, ma... QUINDI?"
      h3 Cosa sono le closure in JavaScript?
      p Una closure è la capacità di una funzione, definita all'interno di un'altra funzione contenitrice, di accedere allo scope della funzione esterna, anche dopo che questa ha cessato la sua esecuzione. Attraverso le closure (ed ad un apposito handler), insomma, posso accedere allo scope (metodi e attributi) di una funzione (quella contenitrice) da un qualsiasi ambito esterno. #[a(href="/javascript-closure", title="Le Closure in JavaScript") Continua...]
      div(class="published") Pubblicato l'<time datetime="2023-08-08">8 Agosto 2023</time>

  section(class="side")
    div(class="submenu socials")
      h3 Social 
      p Gli aggiornamenti più recenti sono pubblicati sulle seguenti piattaforme 
      ul 
        each social in socials
          li
            a(href=social.url, title=social.name) #[i(class=social.icon)] #{social.name}
              
      p #[em Scrivimi] per commentare o suggerire come migliorare i contenuti
      ul
        li 
          a(href="mailto:marco@progweb.it", title="Mail") #[i(class="icon-envelop")] marco@progweb.it

    div(class="submenu categories")
      h3 Categorie 
      ul 
        li HTML (1)
        li JavaScript (1)

    div(class="submenu months")
      h3 Archivio 
      ul 
        li Settembre 2023 (1)
        li Ottobre 2023 (1)

  section(class="sideside") 
    div(class="graph")
      h3 Quanto si guadagna come developer?
      p La MEDIA DEGLI STIPENDI in Italia nel campo dello sviluppo Web e Mobile App. <br> Il confronto è fatto tra i dati dei portali Indeed e Joobydoo. #[a(href="/javascript-closure", title="Le Closure in JavaScript") Guarda il grafico...]
      a(href="/javascript-closure", title="Le Closure in JavaScript") 
        img(src="/assets/images/graphs/stipendi_developer-min.png", alt="Le Closure in JavaScript")
