extends layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="PWI - Programmazione Web Italia")
  meta(name="keywords" content="html, css, javascript, programmazione, web, italia")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content=proj_url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=title + ' | ' + proj_name)
  meta(name="og:site_name" content="PWI - Programmazione Web Italia")
  meta(name="og:description" content="Spunti di programmazione Web per utenti italiani")
  meta(name="og:image" content=proj_url + "/assets/images/logo.png")

block main
  h1 Più di recente, ho scritto...
    span Le Closure in JavaScript
  h2 Tutti i post
  div(class="post")
    a(href="/html-attributo-ping", title="L'attributo 'ping' del tag <a> in HTML5", class="html") #[span L'attributo 'ping' del tag &lt;a&gt; in HTML5 #[span HTML: L'attributo 'ping' del tag &lt;a&gt;: a cosa serve e come utilizzarlo]]
      img(src="/assets/images/post/post-html-ping-attribute-cover-min.png", alt="L'attributo 'ping' del tag <a> in HTML5")
  div(class="post")
    a(href="/javascript-closure", title="Le Closure in JavaScript", class="js") #[span Le Closure in JavaScript #[span JavaScript CLOSURE: cosa sono e a cosa servono. Definizione, uso ed esempi di codice per capire meglio le Closure in JavaScript]]
      img(src="/assets/images/post/post-js-closure-cover-min.png", alt="Le Closure in JavaScript")
  
      
