-
  let prod = process.env.NODE_ENV === 'production'
  let proj_name = 'Programmazione Web Italia'
  let proj_tagline = 'Codice, metodologie ed idee dal mondo dello Sviluppo Web'
  let proj_url = 'https://www.progweb.it'
  let copy = 2023
  let owner = 'Marco Pavan'
  let logo = 'https://www.zero-project.net/assets/images/logo.png'
  let fbAppId = 1097920821592177
  let googleSiteVerification = 'yeAoCZx82EAHF2DNVMmS9THRmxbj3WAEC6VliW7Nv4M'
  let sc_project = 12922368
  let sc_security = '40e93898'  

doctype html
html
  head
    block meta 
      meta(charset="utf-8")
      meta(property="fb:app_id" content=fbAppId)
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      meta(name="author" content=owner)
      link(rel="shortcut icon", href="/public/favicon.ico", type="image/x-icon")
      meta(name="google-site-verification" content=googleSiteVerification)
    if false
      script. 
        if (window.location.protocol == 'http:') window.location.protocol = 'https:'
    script. 
      if (localStorage.getItem('dark')) document.documentElement.classList.add('dark')
    if prod
        link(rel="stylesheet", type="text/css", href="/dist/main.css")
    else
        link(rel="stylesheet", type="text/css", href="/styles/style.css")
  body(id=id)
    include ../components/shared/header/header.pug
    block intro
    main
      block main
    block outro
    block footer
      include ../components/shared/footer/footer.pug
      include ../components/shared/cookie_layer/cookie_layer.pug
      include ../components/shared/goto_top/goto_top.pug
    if prod
      script(src='/dist/main.js')
    else
      script(src='/scripts/index.js', type='module')
    if prod
      div(id="fb-root")
      script(async defer crossorigin="anonymous" src=("https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v18.0&appId=" + fbAppId + "&autoLogAppEvents=1") nonce="v2vy9Bpd")
      script.
        var sc_project = #{sc_project};
         var sc_invisible = 1;
         var sc_security = "#{sc_security}";
      script(async, defer, src='https://www.statcounter.com/counter/counter.js')
      script(src='https://platform.linkedin.com/in.js')
      script(type='application/ld+json').
        {
          "@context": "https://schema.org",
          "@type": "WebSite",
          "url": "#{proj_url}",
          "name": "#{proj_name}",
          "description": "#{description}",
          "image": "#{logo}",
          "author": {
            "@type": "Person",
            "name": "#{owner}"
          },
          "copyrightHolder": {
            "@type": "Person",
            "name": "#{owner}"
          }
        }
    block viewscripts
