extends ../../layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content=title)
  meta(name="keywords" content="paradigmi, programmazione, strutturata, ad oggetti, funzionale")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content=proj_url + url)
  meta(name="og:type" content="article")
  meta(name="og:title" content=title)
  meta(name="og:site_name" content="PWI - Programmazione Web Italia")
  meta(name="og:description" content="PWI - Programmazione Web Italia")
  meta(name="og:image" content=proj_url + "/assets/images/post/006-programmazione-strutturata-oggetti-funzionale/programmazione-strutturata-oggetti-funzionale-min.png")

block main
  main(class="tworows")
    include ./programmazione-strutturata-oggetti-funzionale-article.pug

    include ../../../components/shared/sideside/sideside.pug