extends ../../layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content=title)
  meta(name="keywords" content="paradigmi, programmazione, strutturata, ad oggetti, funzionale")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content=proj_url + url)
  meta(name="og:type" content="article")
  meta(name="og:title" content=title)
  meta(name="og:site_name" content="PWI - Programmazione Web Italia")
  meta(name="og:description" content="PWI - Programmazione Web Italia")
  meta(name="og:image" content=proj_url + "/assets/images/post/006-programmazione-strutturata-oggetti-funzionale/programmazione-strutturata-oggetti-funzionale-min.png")

block main
  main(class="tworows")
    include ./programmazione-strutturata-oggetti-funzionale-article.pug

    include ../../../components/shared/sideside/sideside.pug

block viewscripts 
  //- script(async src="https://cpwebassets.codepen.io/assets/embed/ei.js")
  script(type='application/ld+json').
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "datePublished": "2024-04-09",
      "dateModified": "2024-04-09",
      "url": "#{proj_url + url}",
      "name": "#{title}",
      "headline": "#{title}",
      "description": "#{title}",
      "image": "#{proj_url}/assets/images/post/006-programmazione-strutturata-oggetti-funzionale/programmazione-strutturata-oggetti-funzionale-min.png",
      "author": {
        "@type": "Person",
        "name": "#{owner}"
      },
      "copyrightHolder": {
        "@type": "Person",
        "name": "#{owner}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "#{proj_name}",
        "url": "#{proj_url}",
        "logo": "#{logo}"
      }
    }