section(class="intro")
  div(class="head")
    div
      a(href=proj_url, title="Home page")
        img(src="/assets/images/logo-min.png", alt=proj_name)
        span #{proj_name}
      h1 !{__('responsive-web-design.title')}
      h2 !{__('responsive-web-design.subtitle')}
  div(class="footer")
    div(class="responsive")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-image-414.webp")
        source(media="(max-width: 768px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-image-768.webp")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-image-1024.webp")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-image-1366.webp")
        img(fetchpriority="high" width="820" height="455" src="/assets/images/landing/responsive-web-design/responsive-web-design-image.webp", alt=__('responsive-web-design.img-responsive'), id="rwd")
    div(class="cta")
      h2 !{__('responsive-web-design.cta-title')}
      div
        div #{__('responsive-web-design.cta-phone')}
          a(href="tel:+393295698985", title=__('responsive-web-design.cta-2')) (+39) 329 5698985
        div #{__('responsive-web-design.cta-email')} 
          a(href="mailto:info@progweb.it?subject=Need more info about Responsive Web Design&bcc=marcopavan.mp@gmail.com", title=__('responsive-web-design.cta-3')) info@progweb.it

section(class="features")
  ul
    li
      h2 #{__('responsive-web-design.fea-title-1')}
      p !{__('responsive-web-design.fea-text-1')}
    li 
      h2 #{__('responsive-web-design.fea-title-2')}
      p !{__('responsive-web-design.fea-text-2')}
    li 
      h2 #{__('responsive-web-design.fea-title-3')}
      p !{__('responsive-web-design.fea-text-3')}
    li 
      h2 !{__('responsive-web-design.fea-title-4')}
      p !{__('responsive-web-design.fea-text-4')}

section(class="near")
  h2 #{__('responsive-web-design.near-title')}
  p !{__('responsive-web-design.near-text')}

