section(class="intro")
  div(class="head")
    div
      a(href=proj_url, title="Home page")
        img(src="/assets/images/logo-min.png", alt=proj_name + ' - Layout Web Responsive')
        span #{proj_name}
      h1 !{__('responsive-web-design.title')}
      h2 !{__('responsive-web-design.subtitle')}
  div(class="footer")
    div(class="responsive")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-image-414.webp")
        source(media="(max-width: 768px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-image-768.webp")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-image-1024.webp")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-image-1366.webp")
        img(fetchpriority="high" width="820" height="455" src="/assets/images/landing/responsive-web-design/responsive-web-design-image.webp", alt=__('responsive-web-design.img-responsive'), id="rwd")
    div(class="cta")
      h2 !{__('responsive-web-design.cta-title')}
      div
        div #{__('responsive-web-design.cta-phone')}
          a(href="tel:+393295698985", title=__('responsive-web-design.cta-2')) (+39) 329 5698985
        div #{__('responsive-web-design.cta-email')} 
          a(href="mailto:info@progweb.it?subject=Need%20more%20info%20about%20Responsive%20Web%20Design&bcc=marcopavan.mp@gmail.com", title=__('responsive-web-design.cta-3')) info@progweb.it

section(class="features")
  ul
    li
      h2 #{__('responsive-web-design.fea-title-1')}
      p !{__('responsive-web-design.fea-text-1')}
    li 
      h2 #{__('responsive-web-design.fea-title-2')}
      p !{__('responsive-web-design.fea-text-2')}
    li 
      h2 #{__('responsive-web-design.fea-title-3')}
      p !{__('responsive-web-design.fea-text-3')}
    li 
      h2 !{__('responsive-web-design.fea-title-4')}
      p !{__('responsive-web-design.fea-text-4')}

section(class="near")
  h2 #{__('responsive-web-design.near-title')}
  p !{__('responsive-web-design.near-text')}


section(class="more")
  figure
    picture 
      source(media="(max-width: 414px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-more-414.webp")
      source(media="(max-width: 768px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-more-768.webp")
      source(media="(max-width: 1024px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-more-1024.webp")
      img(loading="lazy" width="1024" height="524" src="/assets/images/landing/responsive-web-design/responsive-web-design-more.webp", alt=__('responsive-web-design.img-more'), id="more")
    figcaption !{__('responsive-web-design.img-more-caption')}
  
  h2 #{__('responsive-web-design.more-title-1')}
  p !{__('responsive-web-design.more-text-1')}

  h2 #{__('responsive-web-design.more-title-2')}
  p !{__('responsive-web-design.more-text-2')}

  h2 #{__('responsive-web-design.more-title-3')}
  p !{__('responsive-web-design.more-text-3')}


section(class="services")
  h3 #{__('services.title')}
  ul(class="wrap")
    li 
      a(href="/from-idea-to-prototype" title=__('services.fitp-a-title'))
        img(loading="lazy" width="1200" height="630" src='/assets/images/landing/from-idea-to-prototype/from-idea-to-prototype-og-image-' + lang + '.webp', alt=__('services.fitp-alt-image'))
        span #{__('services.fitp')}
    li
      a(href="/web-seo" title=__('services.web-seo-a-title'))
        img(loading="lazy" width="1200" height="630" src='/assets/images/landing/web-seo/web-seo-og-image-' + lang + '.webp', alt=__('services.web-seo-alt-image'))
        span #{__('services.web-seo')}
    li 
      a(href="/responsive-web-design" title=__('services.responsive-web-design-a-title'))
        img(loading="lazy" width="1200" height="630" src='/assets/images/landing/responsive-web-design/responsive-web-design-og-image-' + lang + '.webp', alt=__('services.responsive-web-design-alt-image'))
        span #{__('services.responsive-web-design')}
    li 
      a(href="/web-sustainability" title=__('services.web-sustainability-a-title'))
        img(loading="lazy" width="1200" height="630" src='/assets/images/landing/web-sustainability/web-sustainability-og-image-' + lang + '.webp', alt=__('services.web-sustainability-alt-image'))
        span #{__('services.web-sustainability')}
    li 
      a(href="/web-accessibility" title=__('services.web-accessibility-a-title'))
        img(loading="lazy" width="1200" height="630" src='/assets/images/landing/web-accessibility/web-accessibility-og-image-' + lang + '.webp', alt=__('services.web-accessibility-alt-image'))
        span #{__('services.web-accessibility')}