- 
 let _016_postTopic = 'html'
 let _016_postTitle = 'Il tag <dialog> in HTML5: esempi e spiegazione su come generare finestre di dialogo'
 let _016_postUrl = '/html-tag-dialog-utilizzo-esempi'
 let _016_post = 'html-tag-dialog-utilizzo-esempi'
 let _016_postSerial = '016'

div(class="preview")
  div(class="badge html") #[a(href="/html", title=_016_postTopic) #{_016_postTopic}]
  h2
    a(href=_016_postUrl, title=_016_postTitle) #{_016_postTitle}
  a(href=_016_postUrl, title=_016_postTitle) 
    img(loading="lazy", class="cover", width="1200", height="630", src="/assets/images/post/" + _016_postSerial + "-" + _016_post + "/" + _016_post + ".webp", alt=_016_postTitle, srcset='/assets/images/post/' + _016_postSerial + '-' + _016_post + '/' + _016_post + '.webp' + ' 1200w,' + '/assets/images/post/' + _016_postSerial + '-' + _016_post + '/' + _016_post + '-m.webp' + ' 1024w,' + '/assets/images/post/' + _016_postSerial + '-' + _016_post + '/' + _016_post + '-s.webp' + ' 768w', sizes="(max-width: 768px) 100vw, (max-width: 1024px) 75vw, 50vw")

  p Una modalità nativa per gestire i dialogi modali (o non modali) all'interno delle nostre applicazioni... Finalmente si possono evitare soluzioni custom o di terze parti e focalizzarsi maggiormente sulle funzionalità core!

  h2 Introduzione
  p La gestione di popup e finestre modali è sempre stata una sfida per gli sviluppatori web. Tradizionalmente, #[em questi elementi richiedevano combinazioni di HTML, CSS e JavaScript] creati ad hoc dallo sviluppatore per funzionare correttamente. Con l'introduzione dell'elemento &lt;dialog&gt; in HTML5, #[em questa complessità viene ridotta], offrendo #[em una soluzione nativa e standard per creare finestre di dialogo] accessibili e facili da gestire. In questo articolo esploreremo come utilizzare &lt;dialog&gt; e quali vantaggi offre.

  h2 Cos'è l'elemento &lt;dialog&gt;
  p L'elemento &lt;dialog&gt; è progettato per creare finestre di dialogo, sia modali che non modali. Si tratta di un elemento nativo che offre un supporto integrato per mostrare contenuti sopra il resto della pagina, bloccando l'interazione con gli elementi sottostanti nel caso di dialoghi modali.#[a(href=_016_postUrl, title=_016_title) &lbrack;Continua&rbrack;]
  
  div(class="published") Pubblicato il <time datetime="2025-01-16">16 gennaio 2025</time>
