extends ../../layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="Articoli di argomento: HTML")
  meta(name="keywords" content="")
  meta(name="robots" content="")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content=proj_url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=title + ' | ' + proj_name)
  meta(name="og:site_name" content="Programmazione Web Italia")
  meta(name="og:description" content="Articoli di argomento: HTML")
  meta(name="og:image" content=proj_url + "/assets/images/logo.png")

block main 
  main(class="tworows")
    section
      h1 #{title}
      include ../../post/013-html-attributo-loading-lazy-load/preview.pug
      include ../../post/html-ping-attribute/html-ping-attribute-article-preview.pug

    include ../../../components/shared/side/side.pug

