extends ../../layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="L'attributo 'ping' del tag <a> in HTML5: a cosa serve e come utilizzarlo")
  meta(name="keywords" content="html, attributo, ping")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content=proj_url + url)
  meta(name="og:type" content="article")
  meta(name="og:title" content="HTML: L'attributo 'ping' del tag <a> in HTML5: a cosa serve e come utilizzarlo")
  meta(name="og:site_name" content="PWI - Programmazione Web Italia")
  meta(name="og:description" content="PWI - Programmazione Web Italia")
  meta(name="og:image" content=proj_url + "/assets/images/post/post-html-ping-attribute-cover-min.png")

block main
  h1 L'#[em attributo 'ping']: del tag &lt;a&gt; in HTML5: a cosa serve e come utilizzarlo
  p(class="intro") Fin dalla sua pubblicazione HTML5 ha introdotto alcuni attributi che, seppur interessanti, non sono mai stati usati o compresi fino in fondo, l'attributo 'ping' è secondo me uno di questi.

  h2 #[em Definizione]: cos'è l'attributo "ping"?
  p L'attributo "ping", introdotto in HTML5, è un attributo poco utilizzato del tag &lt;a&gt;. Molto semplicemente, #[em serve a specificare una serie di URL che verranno richiamati automaticamente quando un link viene seguito dall'utente] (al "click", per intenderci). Questo attributo può essere utile in diverse situazioni, in particolare per scopi di monitoraggio e analisi.

  h2 #[em Utilizzo]: come utilizzare l'attributo "ping"
  p Spesso è utile sapere se un utente ha cliccato un dato link (tipicamente un link che punta ad una risorsa esterna al nostro sito, sulla quale non abbiamo  controllo). In questi casi, il comportamento dell'utente viene tracciato (in anticipo, prima che l'utente lasci il nostro spazio) attraverso il "ping" inviato alla url definita. L'attributo #[em "ping" può contenere uno o più URL separati da spazi]. Ecco un esempio di link con attributo "ping":

  p(class="codepen" data-height="300" data-default-tab="html" data-slug-hash="OJdyeGe" data-preview="true" data-editable="true" data-user="programmazione-web-italia" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;")
  span(class="penref") See the Pen #[a(href="https://codepen.io/programmazione-web-italia/pen/OJdyeGe") html-ping-attribute] by PWI - Programmazione Web Italia #[a(href="https://codepen.io/programmazione-web-italia") @programmazione-web-italia] on #[a(href="https://codepen.io") CodePen].

  p Nell'esempio sopra, quando l'utente fa clic sul link, verrà reindirizzato alla "pagina-di-destinazione.html" e contemporaneamente i browser effettueranno due #[em richieste HTTP POST] (con body "ping") ai due URL specificati nell'attributo "ping": "https://server1.com/monitoraggio" e "https://server2.com/analisi."

  h2 #[em Scenari d'Uso]: quali sono gli utilizzi pratici dell'attributo ping?
  h3 Monitoraggio dei click
  p Le aziende e i servizi di analisi web possono utilizzare l'attributo "ping" per tenere traccia dei click sui link in modo più preciso, ottenendo #[em informazioni sulle interazioni degli utenti] con i contenuti del sito. In questo caso, ha senso che la URL specificata nel ping punti ad una risorsa interna al nostro dominio.

  h3 Analisi degli Outbound Link
  p I webmaster possono utilizzare l'attributo "ping" per rilevare quali link esterni vengono seguiti dagli utenti, aiutando a valutare quali risorse esterne sono popolari.

  h3 Verifica di integrità dei Server
  p In alcuni casi, l'attributo "ping" può essere utilizzato per verificare se i server di destinazione dei link sono attivi e rispondono alle richieste HTTP.

  h2 Considerazioni sulla Privacy e la Sicurezza 
  p È importante notare che l'utilizzo dell'attributo "ping" solleva #[em alcune questioni relative alla privacy e alla sicurezza]. Poiché i browser effettuano richieste HTTP ai server specificati nell'attributo "ping" ogni volta che un link viene seguito, è fondamentale assicurarsi che ciò non violi la privacy degli utenti e che le richieste siano sicure. <br>Inoltre, l'attributo "ping" è soggetto alle politiche CORS (Cross-Origin Resource Sharing), che regolamentano le richieste tra domini diversi, è, quindi, necessario assicurarsi di rispettare queste politiche per evitare problemi di sicurezza.

  h2 Conclusioni 
  p L'attributo "ping" del tag &lt;a&gt; in HTML è uno strumento potenzialmente utile per il monitoraggio, l'analisi e la verifica dei link sui siti Web. Tuttavia, è importante utilizzarlo con attenzione, rispettando le normative sulla Privacy e sulla Sicurezza per garantire un'esperienza utente il più possibile positiva. Quando utilizzato in modo appropriato, l'attributo "ping" può fornire informazioni preziose per migliorare il contenuto e l'usabilità del sito Web.

  h2 Compatibilità 
  ul 
    li Chrome &ge; 15
    li Edge &ge; 17
    li Safari &ge; 6
    li Firefox &ge; 3 (solo abilitando il flag: #[code browser.send_pings]... Questioni di privacy)
    li Opera &ge; 15
    li IE - Non supportato

  aside(class="links")
    h2 Link esterni 
    ul 
      li 
        a(class="ext", href="https://www.w3.org/html/wg/wiki/AddedAttributePing", target="_blanck") AddedAttributePing - HTML WG Wiki (interessanti motivi per usarlo / motivi per non usarlo)
      li 
        a(class="ext", href="https://css-tricks.com/the-ping-attribute-on-anchor-links/", target="_blanck") The `ping` attribute on anchor links | CSS-Tricks
      li 
        a(class="ext", href="https://caniuse.com/ping", target="_blanck") Ping attribute | Can I use... Support tables
  include /components/shared/coffee/coffee.pug
  include /components/shared/share/share.pug
block viewscripts 
  script(async src="https://cpwebassets.codepen.io/assets/embed/ei.js")
  script(type='application/ld+json').
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "datePublished": "2023-09-15",
      "dateModified": "2023-09-16",
      "url": "#{proj_url + url}",
      "name": "#{title}",
      "headline": "L'attributo 'ping' del tag <a> in HTML5: a cosa serve e come utilizzarlo",
      "description": "Definizione, uso ed esempi di codice per capire meglio come utilizzare l'attributo "ping" in HTML,
      "about": {
        "@type": "ComputerLanguage",
        "name": "JavaScript"
      },
      "image": "#{proj_url}/assets/images/post/post-js-closure-cover-min.png",
      "author": {
        "@type": "Person",
        "name": "#{owner}"
      },
      "copyrightHolder": {
        "@type": "Person",
        "name": "#{owner}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "#{proj_name}",
        "url": "#{proj_url}",
        "logo": "#{logo}"
      }
    }

