extends ../../layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content=title)
  meta(name="keywords" content="node, progetto, completo, professionale, setup, express")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content=proj_url + url)
  meta(name="og:type" content="article")
  meta(name="og:title" content=title)
  meta(name="og:site_name" content="PWI - Programmazione Web Italia")
  meta(name="og:description" content="PWI - Programmazione Web Italia")
  meta(name="og:image" content=proj_url + "/assets/images/post/002-post-eng-architettura-del-software/post-eng-architettura-del-software-min.png")

block main
  main(class="tworows")
    include ./node-progetto-professionale-setup-article.pug

    include ../../../components/shared/sideside/sideside.pug