extends ../layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="Grafici sul mondo della Programmazione Web")
  meta(name="keywords" content="")
  meta(name="robots" content="")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content=proj_url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=title + ' | ' + proj_name)
  meta(name="og:site_name" content="PWI - Programmazione Web Italia")
  meta(name="og:description" content="Grafici sul mondo della Programmazione Web")
  meta(name="og:image" content=proj_url + "/assets/images/logo.png")

block main
  main(class="tworows")
    section
      h1 #{title}
      div(class="entry", id="stipendio-developer")
        h2 Quanto si guadagna come developer?
        p La MEDIA DEGLI STIPENDI in Italia nel campo dello sviluppo Web e Mobile App. Il confronto è fatto tra i dati dei portali Indeed e Joobydoo.
        div(class="published") Pubblicato il <time datetime="2023-11-10">10 Novembre 2023</time>
        img(src="/assets/images/graphs/stipendi_developer-min.png", alt="Grafico dello stipendio medio degli sviluppatori in Italia")
        
    include ../../components/shared/side/side.pug

