extends ../layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="Grafici sul mondo della Programmazione Web")
  meta(name="keywords" content="")
  meta(name="robots" content="")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content=proj_url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=title + ' | ' + proj_name)
  meta(name="og:site_name" content="PWI - Programmazione Web Italia")
  meta(name="og:description" content="Grafici sul mondo della Programmazione Web")
  meta(name="og:image" content=proj_url + "/assets/images/logo.png")

block main
  main(class="tworows")
    section
      h1 #{title}
      div(class="entry", id="linguaggi-programmazione")
        h2 I linguaggi di programmazione più utilizzati dagli sviluppatori nel mondo
        p La classifica dei 10 "linguaggi di programmazione" più utilizzati dagli sviluppatori nel mondo.
        div(class="published") Pubblicato il <time datetime="2024-04-03">03 Aprile 2024</time>
        img(src="/assets/images/graphs/linguaggi-programmazione-developer-min.png", alt="I linguaggi di programmazione più utilizzati dagli sviluppatori nel mondo")

      div(class="entry", id="stipendio-developer-napoli")
        h2 Lavorare nello Sviluppo Web, un confronto Napoli vs. Italia 
        p Stipendio Web Developer: quanto guadagni lavorando a Napoli rispetto alla media italiana.
        div(class="published") Pubblicato il <time datetime="2023-11-24">24 Novembre 2023</time>
        img(src="/assets/images/graphs/stipendi-developer-napoli-min.png", alt="Lavorare nello Sviluppo Web, un confronto Napoli vs. Italia")

      div(class="entry", id="stipendio-developer")
        h2 Quanto si guadagna come developer?
        p La MEDIA DEGLI STIPENDI in Italia nel campo dello sviluppo Web e Mobile App. Il confronto è fatto tra i dati dei portali Indeed e Joobydoo.
        div(class="published") Pubblicato il <time datetime="2023-11-10">10 Novembre 2023</time>
        img(src="/assets/images/graphs/stipendi_developer-min.png", alt="Grafico dello stipendio medio degli sviluppatori in Italia")
        
    include ../../components/shared/side/side.pug

