div(class="wrap")
  div(class="content")
    section(id="one")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/from-idea-to-prototype/images/idea-2-320.png")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/from-idea-to-prototype/images/idea-2-360.png")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/from-idea-to-prototype/images/idea-2-400.png")
        img(src="/assets/images/landing/from-idea-to-prototype/images/idea-2-460.png", alt=__('fitp.img1-alt'), id="img1")
      p !{__('fitp.text-1')}
      h1 #{__('fitp.title-1')}
      div(class="controls")
        a(class="next", href="#") #{__('fitp.next')} &#10217;
        a(class="last", href="#") #{__('fitp.last')} &#10219;
    section(id="two")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/from-idea-to-prototype/images/ciclo-320.png")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/from-idea-to-prototype/images/ciclo-360.png")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/from-idea-to-prototype/images/ciclo-400.png")
        img( src="/assets/images/landing/from-idea-to-prototype/images/ciclo-460.png", alt=__('fitp.img2-alt'), id="img2")
      p !{__('fitp.text-2')}    
      h1 #{__('fitp.title-2')}
      div(class="controls")
        a(class="next", href="#") #{__('fitp.next')} &#10217;
        a(class="last", href="#") #{__('fitp.last')} &#10219;
    section(id="three")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/from-idea-to-prototype/images/design-320.png")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/from-idea-to-prototype/images/design-360.png")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/from-idea-to-prototype/images/design-400.png")
        img( src="/assets/images/landing/from-idea-to-prototype/images/design-460.png", alt=__('fitp.img3-alt'), id="img3")
      p !{__('fitp.text-3')}    
      h1 #{__('fitp.title-3')}
      div(class="controls")
        a(class="next", href="#") #{__('fitp.next')} &#10217;
        a(class="last", href="#") #{__('fitp.last')} &#10219;
    section(id="four")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/from-idea-to-prototype/images/firm-320.png")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/from-idea-to-prototype/images/firm-360.png")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/from-idea-to-prototype/images/firm-400.png")
        img( src="/assets/images/landing/from-idea-to-prototype/images/firm-460.png", alt=__('fitp.img4-alt'), id="img4")
      p !{__('fitp.text-4')}  
      h1 #{__('fitp.title-4')}
      div(class="controls")
        a(class="next", href="#") #{__('fitp.next')} &#10217;
        a(class="last", href="#") #{__('fitp.last')} &#10219;
    section(id="five")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/from-idea-to-prototype/images/hard-320.png")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/from-idea-to-prototype/images/hard-360.png")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/from-idea-to-prototype/images/hard-400.png")
        img( src="/assets/images/landing/from-idea-to-prototype/images/hard-460.png", alt=__('fitp.img5-alt'), id="img5")
      p !{__('fitp.text-5')}   
      h1 #{__('fitp.title-5')}
      div(class="controls")
        a(class="next", href="#") #{__('fitp.next')} &#10217;
        a(class="last", href="#") #{__('fitp.last')} &#10219;
    section(id="six")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/from-idea-to-prototype/images/back-2-320.png")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/from-idea-to-prototype/images/back-2-360.png")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/from-idea-to-prototype/images/back-2-400.png")
        img( src="/assets/images/landing/from-idea-to-prototype/images/back-2-460.png", alt=__('fitp.img6-alt'), id="img6")
      p !{__('fitp.text-6')}    
      h1 #{__('fitp.title-6')}
      div(class="controls")
        a(class="next", href="#") #{__('fitp.next')} &#10217;
        a(class="last", href="#") #{__('fitp.last')} &#10219;
    section(id="seven")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/from-idea-to-prototype/images/front-320.png")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/from-idea-to-prototype/images/front-360.png")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/from-idea-to-prototype/images/front-400.png")
        img( src="/assets/images/landing/from-idea-to-prototype/images/front-460.png", alt=__('fitp.img7-alt'), id="img7")
      p !{__('fitp.text-7')}   
      h1 #{__('fitp.title-7')}
      div(class="controls")
        a(class="next", href="#") #{__('fitp.next')} &#10217;
        a(class="last", href="#") #{__('fitp.last')} &#10219;
    section(id="eight")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/from-idea-to-prototype/images/plus-320.png")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/from-idea-to-prototype/images/plus-360.png")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/from-idea-to-prototype/images/plus-400.png")
        img( src="/assets/images/landing/from-idea-to-prototype/images/plus-460.png", alt=__('fitp.img8-alt'), id="img8")
      div !{__('fitp.text-8')}  
      h1 #{__('fitp.title-8')}
      div(class="controls")
        a(class="next", href="#") #{__('fitp.next')} &#10217;
        a(class="last", href="#") #{__('fitp.last')} &#10219;
    section(id="nine")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/from-idea-to-prototype/images/team-320.png")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/from-idea-to-prototype/images/team-360.png")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/from-idea-to-prototype/images/team-400.png")
        img( src="/assets/images/landing/from-idea-to-prototype/images/team-460.png", alt=__('fitp.img9-alt'), id="img9")
      div !{__('fitp.text-9')}    
      h1 #{__('fitp.title-9')}
      div(class="controls")
        a(class="next", href="#") #{__('fitp.next')} &#10217;
        a(class="last", href="#") #{__('fitp.last')} &#10219;
    section(id="ten")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/from-idea-to-prototype/images/300.png")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/from-idea-to-prototype/images/430.png")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/from-idea-to-prototype/images/570.png")
        img( src="/assets/images/landing/from-idea-to-prototype/images/570.png", alt=__('fitp.img10-alt'), id="img10")
      div !{__('fitp.text-10')}    
      h1 #{__('fitp.title-10')}
  nav 
    ul
      li 
        a(href="#one") #{__('fitp.title-1')}
      li 
        a(href="#two") #{__('fitp.title-2')}
      li 
        a(href="#three") #{__('fitp.title-3')}
      li 
        a(href="#four") #{__('fitp.title-4')}
      li 
        a(href="#five") #{__('fitp.title-5')}
      li 
        a(href="#six") #{__('fitp.title-6')}
      li 
        a(href="#seven") #{__('fitp.title-7')}
      li 
        a(href="#eight") #{__('fitp.title-8')}
      li 
        a(href="#nine") #{__('fitp.title-9')}
      li 
        a(href="#ten") #{__('fitp.title-10')}

section(class="services")
  h3 #{__('services.title')}
  ul(class="wrap")
    li
      a(href="/web-seo" title=__('services.web-seo-a-title'))
        img(loading="lazy" width="1200" height="630" src='/assets/images/landing/web-seo/web-seo-og-image-' + lang + '.webp', alt=__('services.web-seo-alt-image'))
        span #{__('services.web-seo')}
    li 
      a(href="/responsive-web-design" title=__('services.responsive-web-design-a-title'))
        img(loading="lazy" width="1200" height="630" src='/assets/images/landing/responsive-web-design/responsive-web-design-og-image-' + lang + '.webp', alt=__('services.responsive-web-design-alt-image'))
        span #{__('services.responsive-web-design')}
    li 
      a(href="/web-sustainability" title=__('services.web-sustainability-a-title'))
        img(loading="lazy" width="1200" height="630" src='/assets/images/landing/web-sustainability/web-sustainability-og-image-' + lang + '.webp', alt=__('services.web-sustainability-alt-image'))
        span #{__('services.web-sustainability')}
    li 
      a(href="/web-accessibility" title=__('services.web-accessibility-a-title'))
        img(loading="lazy" width="1200" height="630" src='/assets/images/landing/web-accessibility/web-accessibility-og-image-' + lang + '.webp', alt=__('services.web-accessibility-alt-image'))
        span #{__('services.web-accessibility')}
