div(class="wrap")
  div(class="content")
    section(id="one")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/from-idea-to-prototype/bulb_white.png")
        source(media="(max-width: 768px)", srcset="/assets/images/landing/from-idea-to-prototype/bulb_white.png")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/from-idea-to-prototype/bulb_white.png")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/from-idea-to-prototype/bulb_white.png")
        img(fetchpriority="high" width="820" height="455" src="/assets/images/landing/from-idea-to-prototype/bulb_white.png", alt=__('fitp.img1-alt'), id="img1")
      p !{__('fitp.text-1')}
      h1 #{__('fitp.title-1')}
    section(id="two")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/from-idea-to-prototype/product-lifecycle.webp")
        source(media="(max-width: 768px)", srcset="/assets/images/landing/from-idea-to-prototype/product-lifecycle.webp")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/from-idea-to-prototype/product-lifecycle.webp")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/from-idea-to-prototype/product-lifecycle.webp")
        img(fetchpriority="high" width="820" height="455" src="/assets/images/landing/from-idea-to-prototype/product-lifecycle.webp", alt=__('fitp.img2-alt'), id="img1")
      p !{__('fitp.text-2')}    
      h1 #{__('fitp.title-2')}
    section(id="three")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/from-idea-to-prototype/bulb_red.png")
        source(media="(max-width: 768px)", srcset="/assets/images/landing/from-idea-to-prototype/bulb_red.png")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/from-idea-to-prototype/bubulb_redlb_white.pngp")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/from-idea-to-prototype/bulb_red.png")
        img(fetchpriority="high" width="820" height="455" src="/assets/images/landing/from-idea-to-prototype/bulb_red.png", alt=__('fitp.img3-alt'), id="img1")
      p !{__('fitp.text-3')}    
      h1 #{__('fitp.title-3')}
    section(id="four")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-image-414.webp")
        source(media="(max-width: 768px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-image-768.webp")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-image-1024.webp")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-image-1366.webp")
        img(fetchpriority="high" width="820" height="455" src="/assets/images/landing/responsive-web-design/responsive-web-design-image.webp", alt=__('fitp.img4-alt'), id="img1")
      p !{__('fitp.text-4')}  
      h1 #{__('fitp.title-4')}
    section(id="five")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/responsive-web-design/bulb-material.webp")
        source(media="(max-width: 768px)", srcset="/assets/images/landing/responsive-web-design/bulb-material.webp")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/responsive-web-design/bulb-material.webp")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/responsive-web-design/bulb-material.webp")
        img(fetchpriority="high" width="820" height="455" src="/assets/images/landing/from-idea-to-prototype/bulb-material.webp", alt=__('fitp.img5-alt'), id="img1")
      p !{__('fitp.text-5')}   
      h1 #{__('fitp.title-5')}
    section(id="six")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/from-idea-to-prototype/be.png")
        source(media="(max-width: 768px)", srcset="/assets/images/landing/from-idea-to-prototype/be.png")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/from-idea-to-prototype/be.png")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/from-idea-to-prototype/be.png")
        img(fetchpriority="high" width="820" height="455" src="/assets/images/landing/from-idea-to-prototype/be.png", alt=__('fitp.img6-alt'), id="img1")
      p !{__('fitp.text-6')}    
      h1 #{__('fitp.title-6')}
    section(id="seven")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/from-idea-to-prototype/fe.jpg")
        source(media="(max-width: 768px)", srcset="/assets/images/landing/from-idea-to-prototype/fe.jpg")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/from-idea-to-prototype/fe.jpg")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/from-idea-to-prototype/fe.jpg")
        img(fetchpriority="high" width="820" height="455" src="/assets/images/landing/from-idea-to-prototype/fe.jpg", alt=__('fitp.img7-alt'), id="img1")
      p !{__('fitp.text-7')}   
      h1 #{__('fitp.title-7')}
    section(id="eight")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/from-idea-to-prototype/innovation.png")
        source(media="(max-width: 768px)", srcset="/assets/images/landing/from-idea-to-prototype/innovation.png")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/from-idea-to-prototype/innovation.png")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/from-idea-to-prototype/innovation.png")
        img(fetchpriority="high" width="820" height="455" src="/assets/images/landing/from-idea-to-prototype/innovation.png", alt=__('fitp.img8-alt'), id="img1")
      p !{__('fitp.text-8')}  
      h1 #{__('fitp.title-8')} 
    section(id="nine")
      picture 
        source(media="(max-width: 414px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-image-414.webp")
        source(media="(max-width: 768px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-image-768.webp")
        source(media="(max-width: 1024px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-image-1024.webp")
        source(media="(max-width: 1366px)", srcset="/assets/images/landing/responsive-web-design/responsive-web-design-image-1366.webp")
        img(fetchpriority="high" width="820" height="455" src="/assets/images/landing/responsive-web-design/responsive-web-design-image.webp", alt=__('fitp.img9-alt'), id="img1")
      div !{__('fitp.text-9')}    
      h1 #{__('fitp.title-9')}
  div(class="menu")
    nav 
      ul
        li 
          a(href="#one") #{__('fitp.title-1')}
        li 
          a(href="#two") #{__('fitp.title-2')}
        li 
          a(href="#three") #{__('fitp.title-3')}
        li 
          a(href="#four") #{__('fitp.title-4')}
        li 
          a(href="#five") #{__('fitp.title-5')}
        li 
          a(href="#six") #{__('fitp.title-6')}
        li 
          a(href="#seven") #{__('fitp.title-7')}
        li 
          a(href="#eight") #{__('fitp.title-8')}
        li 
          a(href="#nine") #{__('fitp.title-9')}
